<table class="search-box">
    <tr>
        <td><input ng-model="query" type="text" class="input-box" placeholder="Enter your search here" />
        <button ng-model="query" class="search-btn btn">Search</button>
        <a ng-click="query = ''" style="font-size:12px">Reset</a></td>
    </tr>
</table>
    <table class="table">
        <tr>
            <h3>Questions</h3>
        </tr>
        <tr ng-repeat="question in questions | filter:query">
            <td>{{question.id}}</td>
            <td><a href="#/questions/{{question.id}}">{{question.question}}</a></td>
            <td>{{question.published_at | date:'medium' }}</td>
            <td><button href="share/{{question.id}}" class="share-btn btn">Share</button></td>
        </tr>
    </table>
    <div ng-show="loading" class="loading-text"><img src='img/loading.svg'/><p>Loading</p></div>
    <div>
      <a ng-click="next()" class="next-link">Next</a>
    </div>
