<h3>{{item.id}}. {{item.question}}</h3>
<table class="table">
<tr ng-repeat="choice in item.choices">
  <td>{{choice.choice}}</td>
  <td>{{choice.votes}} vote(s)</td>
  <td><input type="radio" name="choice" value="{{choice.choices}}"/></td>
</tr>
</table>
<table class="table">
<tr>
  <td style="border-top: 0px solid #fff"><a href="#/">« Back</a></td>
<td class="search-box" style="border-top: 0px solid #fff"><button href="share/{{item.id}}" class="share-btn btn">Share</button>
<button class="search-btn btn">Vote</button></td>
</tr>
</table>
